a {background-color:red ;
    color: yellow;
    line-height: 7;
}

.page {background-color: orange;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links {
    font-size: 24px;
}

h3 
{background-color: red;
}


